html {background-color:#fff;height:100%;font-family:'Arial';font-size:18px;}
body {margin:0px;padding:0px;}

.header span{font-size:100px;}
.headerbar {background-color:#E7EAEF;}
.footer {width:100%:margin:auto;height:40px;background-color:#dddddd;border-top:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;}
.footerbar {background-color:#E7EAEF;border-top:1px solid #D2D2D2;border-bottom:1px solid #D2D2D2;margin-top:60px;}
.pageFooter{clear:both;}

.pagination{height:40px;font-size:16px;}
.pagination li.active{background-color:#0a2024;}
.pagination li{float:left;list-style-type: none;margin-left:12px;background-color:#7eabb8;padding:2px;border:2px solid #000;border-radius:6px;}
.pagination li:hover{background-color:#0a2128;}
.pagination li a{text-decoration:none;color:#000;}

.on{background-color:#1e424c !important;}
.clear{clear:both;}

table {width:100%;background-color: #eee;font-size:11px;border-collapse: collapse;border-spacing: 0px;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);}
table tr {transition: all 0.3s ease 0s;}
table th {padding:16px;}
table td{padding:16px;border-bottom: 1px solid rgba(0, 0, 0, 0.12);}
table caption{font-size:16px;}
tbody tr:nth-child(odd) {
   background-color: #eee;
   font-size:11px;
}
.tabrow1(background-color:#eee;)


#topbar {position:relative;position:absolute;top:0px;width:100%;z-index:10;}


.hover:hover {background-color:#9fa8da;}
.hover:hover {background-color:#9fa8da;}
.hover-expand:hover .children { display: block; }


/* new styles */
.copyright {float:right;margin-top:20px;color:#fff;}

p {margin:25px;line-height:150%;}
h2 {margin-left:25px;color:#fff;}
h3 {color:#fff;}
li {padding-bottom:10px;line-height:150%;}

label {margin-bottom:10px;float:left;clear:both;display:block;color:#fff;}
input {width:100%;margin:0px;margin-bottom:20px;padding:10px;}
button {margin-bottom:20px;background-color: #fff; height: 48px; width:100%; border-radius: 3px;box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);}

.tile-right {float:right;clear:right;}
#headerstrip{position:absolute;left:0px;right:0px;height:68px;top:0px;background-color:#00232D;}
#headerstrip .navstrip{margin:10px;height:48px;}
#headerstrip .mini-logo{font-size:22px;padding-top: 12px;color:#fff;font-weight:bold;padding-left:58px;height:48px;background-image:url('/static/template/images/hackspace.png');background-repeat:no-repeat;}
#headerstrip .middle{}

#navstrip{}

.menu {position:absolute;left:0px;right:0px;height:40px;height:388px;top:68px;background-color:#00232D;z-index:-1;}
.menu ul {width:960px;margin:auto;height:40px;padding-left:20px;background-color:#0087A8;}
.menu li {width:130px;float:left;list-style-type:none;margin-top:10px;padding:00px;text-align:center;}
.menu li:hover {width:130px;float:left;list-style-type:none;border-bottom:4px solid #1C4085;}
.menu a {color:#ffffff;font-weight:bold;text-decoration:none;}
.menu li:hover {}

.page {width:980px;margin:auto;margin-top:155px;padding-bottom:48px;background-color:#0087A8;}

.columns{float:right;clear:right;width:460px;margin-left:20px;margin-bottom:20px;}

.google-groups-signup {width:300px;float:left;}
.google-groups-signup input{width:274px;}
.google-groups-signup a{color:#fff;}

.banner-slide {position:absolute;width:750px;}
.banner-slide ul{position:relative;overflow:hidden;width:750px;height:300px;margin:0px;}
.banner-slide li{position:absolute;left:0px;top:0px;list-style-type:none;padding:0px;margin:0px;}
.banner-slide .button{background-color: #0087A8;border-radius:50%;opacity: 0.4;}
.banner-slide .content{display:none;position:absolute;top:250px;width:100%;background-color: #eee;}
.banner-slide .left{text-align:left;padding:6px;font-size:48px;color:#fff;position:absolute;top:122px;left:0px;width:60px;height:60px;background-color: transparent;}
.banner-slide .right{text-align:right;padding:6px;font-size:48px;color:#fff;position:absolute;top:122px;right:0px;width:60px;height:60px;background-color: transparent;}

.slide-button {
  background-image: url('static/images/css/sprite-navigation-white.png');
}

.banner-slide .left {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.banner-slide .right {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}


/*slider animation*/
.slide {position:absolute;left:0px;}

.slide.ng-hide-add {left:0px;opacity:1;}
.slide.ng-hide-add-active {transition:0.9s linear all;opacity:0;}

.slide.ng-hide-remove {left:0px;opacity:0;}
.slide.ng-hide-remove-active {transition:0.9s linear all;opacity:1;}

.slide.ng-leave.ng-leave-active,
.slide.ng-enter {
    transition:0.5s linear all;
    left:0px;opacity:0;
}
.slide.ng-leave,
.slide.ng-enter.ng-enter-active {
    transition:0.5s linear all;
    left:0px;opacity:1;
}

.bullet-list li {margin:0px;margin-left:10px;line-height:100%;}

.tile {position:relative;background-color:#eee;width:460px;margin-left:20px;margin-bottom:20px;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);}
.tile-img {margin:20px;width:420px;height:200px;overflow:hidden;background-repeat: no-repeat;background-position: center;background-image:url('/static/template/images/background.png');}
.tile header {background-color: #00232D;width:100%;bottom:20px;top:220px;overflow:auto;left:20px;right:20px;text-align:justify;line-height:150%;font-size:12px;}
.tile h2 {line-height:150%;font-size:12px;margin-right:20px;}
.tile header a {color:#fff;}
.tile-content {bottom:20px;top:220px;overflow:auto;left:20px;right:20px;text-align:justify;line-height:150%;font-size:12px;}
.tile img {display:block;margin:auto;width:300px;height:200px;}

#footertop {background-color:#00232D;height:48px;}
#footerbottom {background-color:#0087A8;height:300px;}
#footerbottom div.container {margin:auto;background-color:#0087A8;height:250px;width:960px;}
.twitter-feed {width:460px;margin:20px;}

.social-chat {width:100%;height:480px;position:relative;}
.social-chat .contain{left:0px;right:0px;height:480px;position:absolue;margin:20px;}
.social-chat iframe{display:block;border:0px;width:100%;height:100%;}

.social {z-index:1;position:absolute;right:0px;top:0px;margin-top:25px;}
.social div{float:left;margin-left:20px;}
.col {width:480px;float:left;}
